.navbar {
  /* border-bottom: 1px solid #cf6d6d; */
  background-color: #03414D;

}
.navbar-brand:hover {
  color: #a36d27d8; 
}

#logo{
  filter: brightness(1.2) saturate(1.5) hue-rotate(10deg); /* Adjust as needed */
  border-radius: 10px;
  height: 50px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 0;
}
.navbar-brand {
  font-weight: bold; 
  color: #fff;
  font-size: 30px;
}
.nav-link {
  color: #ffffff !important;
  font-weight: 300;
  font-size: 25px;
}

.navbar-nav.ms-auto .nav-link {
  font-weight: 400; 
  color: #fff;
  font-size: 20px;
}



@media (max-width: 991px) {
  .navbar-nav.ms-auto {
    text-align: center; 
  }
}

  .navbar-nav.ms-auto .nav-link {
    display: block;
    margin: 5px 0;
    color: #fff;
}


.center-nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.center-nav-links .nav-link {
  position: relative;
  margin: 0 20px;

}
.center-nav-links .nav-link:hover{
  color: #a36d27d8;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

.login-signup-links .nav-item + .nav-item {
  margin-left: 15px; /* Adjust this value to increase or decrease space */
  margin-right: 20px;
}


.login-signup-links .nav-link {
  border: 1px solid white;
  padding: 2px 7px; 
  border-radius: 5px; 
  transition: border-color 0.3s ease;
  background-color: transparent;
  /* background-color: #995a12; */


}


.login-signup-links .nav-link:hover {
background-color: #c45e0b75;}



.scrolling-section {
  position: relative;
  width: 100%; /* Adjust as needed */
  overflow: hidden; /* Hide anything outside the scrolling area */
  background: #f0f0f0; /* Background color for visibility */
  padding: 10px; /* Add some padding if needed */
}

.scrolling-content {
  display: inline-flex;
  white-space: nowrap; /* Prevent text wrapping */
  animation: scroll-left 25s linear infinite; /* Apply animation */
}

.scrolling-content p {
  margin: 0;
  padding-right: 50px; /* Space between repeated content */
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%); /* Start offscreen on the right */
  }
  100% {
      transform: translateX(-100%); /* End offscreen on the left */
  }
}
                                
