<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="logo">
      <img id="logo" src="assets/logo.png" alt="Logo" />
    </div>

    <a class="navbar-brand" href="#">LocalServe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 center-nav-links">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/listings" id="middle"> Book Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/aboutus" id="middle">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/blogs" id="middle">Blogs</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 login-signup-links">
        <li class="nav-item">
          <a class="nav-link" routerLink ="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/signup/user'>Sign Up</a>
      
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<!-- 
<div class="scrolling-section">
  <div class="scrolling-content">
      <p>Your scrolling content goes here. This could be text, images, or any other HTML elements that you want to scroll continuously.</p>
       You can duplicate the content to make it scroll more smoothly 
       <p>Your scrolling content goes here. This could be text, images, or any other HTML elements that you want to scroll continuously.</p>
  </div>
</div> -->

 

<!-- <app-provider-signup></app-provider-signup> -->





















<!-- 
<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <img id="logo" src="assets/logo.png" alt="Logo" />
      </div>
      <div  class="navbar-title">
        <h2>LocalServe</h2>
      </div>
      
      <div class="navbar-links">
        <div>
          <a routerLink="/book-services" class="nav-link">Book Services</a>
        </div>
        <div>
          <a routerLink="/about-us" class="nav-link ">About Us</a>
        </div>
        <div>
          <a routerLink="/blogs" class="nav-link ml">Blogs</a>
        </div>
        
        <div class="button-container" id="buttons">
          <div  id="login-btn"><a routerLink="/login" routerLinkActive="active">Login</a></div>
          <div id="signup-btn"><a routerLink="/signup" routerLinkActive="active">SignUp</a>
          </div>
        </div>

      </div>
    </div>
</nav>

























Search Bar
      <div class="navbar-search">
        <div class="search-container form-group" >
          <input type="text" placeholder="Search services..." />
          <i class="fas fa-search search-icon"></i>
        </div>
      </div> -->
     
  
      <!-- Login/Signup -->
   