
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.cover-container {
  position: relative;
  text-align: left;
  color: white;
}

.cover-image {
  width: 100%;
  height: 400px;
}
.start-button-container {
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.start-button{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #03414D;
  color: white;
  font-size: 20px;
}
.start-button:hover{
  background-color: #553f16;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.info-left {
  flex: 1;
  color:black;
  font-size: 20px;
}

.info-right {
  flex: 0 0 auto;
}
/* General styling */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  color: black;
  font-size: 20px;
}

/* Card container styling */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Card styling */
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

/* Header and paragraph styling */
.card h2 {
  margin-top: 0;
}

.card p {
  margin: 10px 0;
}

/* Hover effect */
.card:hover {
  transform: scale(1.00);
  box-shadow: 0 1px 10px #03414d9d;
}




















/* .caption{
    height: 35px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(36, 31, 31);
    background-color: rgba(240, 248, 255, 0.647);
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
    margin: 10px;
    box-shadow: 4px 4px 12px rgb(114, 120, 120), -4px -4px 12px rgb(98, 100, 100);
}
.caption-desciption{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 252, 252);
    background-color: rgba(52, 53, 54, 0.504);
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
    margin: 10px;
    box-shadow: 4px 4px 12px rgb(114, 120, 120), -4px -4px 12px rgb(98, 100, 100);
} */