<div class="cover-container">
    <img src="./assets/cover1.avif" class="cover-image" alt="Cover Image">
    <div class="overlay">
      <div class="info-left">
        <h1>Connecting You to Trusted Local Experts</h1>
        <p>for All Your Service Needs. Book with Confidence and Ease—Click to Get Started Today!</p>      
      </div>
      <div class="start-button-container">
        <button class="start-button" routerLink="/login"><span>Get Started </span><span class="arrow"> &#8594;</span></button>
      </div>
      <div class="info-right">
        <img src="./assets/serviceprovider.png" alt="Overlay PNG">
      </div>
    </div>
  </div>
   <div class="container">
    <div class="card-container">
        <div class="card">
            <h2>Mission Statement</h2>
            <p>Our mission is to revolutionize the way individuals connect with local professionals by providing a user-friendly platform that offers detailed information, transparent reviews, and effortless booking solutions.</p>
        </div>
        <div class="card">
            <h2>Vision Statement</h2>
            <p>We envision a future where LocalServe is the go-to platform for discovering and hiring trusted local services, enhancing community connections and improving access to quality service providers.</p>
        </div>
    </div>
  </div>


<app-cards></app-cards>

<br><br>
<app-footer></app-footer>