<br><br>
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="./assets/haircut.avif" alt="Image 1">
            </div>
            <div class="card-info">
                <h2>In-Home Hairstyling Service</h2>
                <p>Experience professional hairstyling in the comfort of your own home. Our skilled stylists offer a range of services including cuts, color, and styling tailored to your needs. Book easily through our app or website, and we’ll come to you at your convenience. Enjoy high-quality service without the hassle of travel. </p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/mover.avif" alt="Image 2">
            </div>
            <div class="card-info">
                <h2>Movers & Packers Service</h2>
                <p>Simplify your move with our professional in-home moving and packing services. Our experienced team handles all aspects of your move, from careful packing to secure transportation and unpacking. Schedule your move easily through our app or website, and we'll manage the logistics while you focus on settling into your new space. We prioritize the safety of your belongings with top-notch packing materials and careful handling. Get a clear quote and detailed service options online. Contact us with any questions or special requirements. Enjoy a stress-free moving experience with our reliable service.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/cleaning2.jpg" alt="Image 3">
            </div>
            <div class="card-info">
                <h2>Home Cleaning Service</h2>
                <p>Transform your space with our professional in-home cleaning services. Our expert team handles all types of cleaning tasks, from general housekeeping to deep cleans, ensuring your home sparkles and feels fresh. Book your cleaning appointment easily through our app or website, and let us take care of the rest. We use eco-friendly products and follow strict hygiene protocols for a safe and thorough clean. View our service options and pricing online. Contact us for any special requests or to discuss your cleaning needs. Experience a spotless home with our reliable and efficient service.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/delivery.jpg" alt="Image 4">
            </div>
            <div class="card-info">
                <h2>Card 4</h2>
                <p>Information about Card 4.</p>
            </div>
        </div>
    </div>


