<div id="body">
    <div class="container">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="mt-2">
            <fieldset class="fieldset">
                <legend class="mt-3 text-center">Provider Sign Up</legend>

                <div class="form-group">
                    <label for="provider_name">Provider Name:</label>
                    <input type="text" id="provider_name" formControlName="provider_name" placeholder="Enter your Provider Name" required>
                    <div *ngIf="registrationForm.get('provider_name')?.invalid && registrationForm.get('provider_name')?.touched" class="error-message">
                        Provider Name is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="qualification">Qualification:</label>
                    <input type="text" id="qualification" formControlName="qualification" placeholder="B.Tech,Degree,M.Tech,MCA,MBA, etc.">
                    <div *ngIf="registrationForm.get('qualification')?.invalid && registrationForm.get('qualification')?.touched" class="error-message">
                        Qualification is required.
                    </div>
                </div>

                <div class="form-group">    
                    <label for="experience">Experience:</label>
                    <input type="text" id="experience" formControlName="experience" placeholder="Enter your experience">
                    <div *ngIf="registrationForm.get('experience')?.invalid && registrationForm.get('experience')?.touched" class="error-message">
                        Experience is required.
                    </div>
                </div>

                <div class="form-group">    
                    <label for="bio">Bio:</label>
                    <input type="text" id="bio" formControlName="bio" placeholder="Enter your bio">
                    <div *ngIf="registrationForm.get('bio')?.invalid && registrationForm.get('bio')?.touched" class="error-message">
                        Bio is required.
                    </div>
                </div>

                <div class="form-group">
                    <label>Services:</label>
                    <div *ngIf="!selectedServiceIds.length">
                        <select id="service_name"(change)="onServiceSelect($event)" required>
                            <option value="" disabled selected>Select a service</option>
                            <option *ngFor="let service of services" [value]="service.service_id">
                                {{ service.service_name }}
                            </option>
                        </select>
                    </div>

                    <div *ngFor="let service of selectedServiceIds">
                        <span>{{ getServiceName(service) }}</span>
                        <button id = "wrong_symbol" (click)="removeService(service)">&#10006;</button>
                    </div>

                    <button type="button" *ngIf="selectedServiceIds.length" (click)="showAddServiceDropdown = !showAddServiceDropdown">
                        Add Another Service
                    </button>

                    <div *ngIf="showAddServiceDropdown">
                        <select (change)="onServiceSelect($event)" required>
                            <option value="" disabled selected>Select another service</option>
                            <option *ngFor="let service of services" 
                                    [value]="service.service_id" 
                                    [disabled]="isServiceSelected(service.service_id)">
                                {{ service.service_name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" placeholder="Enter your email" required>
                    <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="error-message">
                        Valid email is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
                    <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="error-message">
                        Password is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" formControlName="confirm_password" placeholder="Confirm your password" required>
                    <div *ngIf="registrationForm.get('confirm_password')?.invalid && registrationForm.get('confirm_password')?.touched" class="error-message">
                        Confirm password is required.
                    </div>
                    <div *ngIf="passwordMismatch" class="error-message">
                        Passwords do not match.
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone_number">Phone Number:</label>
                    <input type="tel" id="phone_number" formControlName="phone_number" placeholder="Enter your phone number" required>
                    <div *ngIf="registrationForm.get('phone_number')?.invalid && registrationForm.get('phone_number')?.touched" class="error-message">
                        Please enter a valid phone number.
                    </div>
                </div>


                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" formControlName="address" placeholder="Enter your address" required>
                    <div *ngIf="registrationForm.get('address')?.invalid && registrationForm.get('address')?.touched" class="error-message">
                        Address is required.
                    </div>
                </div>


                <div class="form-group">
                    <label for="city_name">City:</label>
                    <select id="city_name" formControlName="city_id" required>
                        <option value="" disabled>Select your city</option>
                        <option *ngFor="let city of cities" [value]="city.city_id">{{ city.city_name }}</option>
                    </select>
                    <div *ngIf="registrationForm.get('city_id')?.invalid && registrationForm.get('city_id')?.touched" class="error-message">
                        City selection is required.
                    </div>
                </div>
                
                  

                <div class="form-group">
                    <input type="submit" value="Submit" [disabled]="!registrationForm.valid || passwordMismatch">
                </div>
            </fieldset>
        </form>
    </div>
</div>





                <!-- <div class="form-group">
                    <label for="city_name">City:</label>
                    <input type="text" id="city_name" formControlName="city_name" placeholder="Enter your city name" required>
                    <div *ngIf="registrationForm.get('city_name')?.invalid && registrationForm.get('city_name')?.touched" class="error-message">
                        City selection is required.
                    </div>
                </div> -->