<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="logo">
        <img id="logo" src="assets/logo.png" alt="Logo" />
      </div>
  
      <a class="navbar-brand" href="#">LocalServe</a>

      <a routerLink="notifications" routerLinkActive="active" class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications">
        <i class="fas fa-bell"></i>
      </a>
    
   <button class="logout" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</button>

</div>
</nav>