
<div class="sidebar">
    <ul class="sidebar-nav">
      <li><a routerLink="/profile" routerLinkActive="active">Profile Management</a></li>
      <!-- <li><a routerLink="listings" routerLinkActive="active">Service Discovery</a></li> -->
      <!-- <li><a routerLink="mybookings" routerLinkActive="active">Bookings</a></li> -->
      <li><a routerLink="/notifications" routerLinkActive="active">Notifications</a></li>
      <li><a routerLink="/reviews" routerLinkActive="active">Reviews and Feedback</a></li>
      <li><a routerLink="/help" routerLinkActive="active">Help and Support</a></li>
      <button class="logout" (click)="onLogout()">Logout</button>

    </ul>
  </div>
  