
  <div class="container">
    <aside class="sidebar">
      <!-- <h2>Navigation</h2> -->
      <nav>
        <ul>
        <li><a routerLink="dashboard-overview" routerLinkActive="active" >Dashboard Overview</a></li>
        <li><a routerLink="user-management" routerLinkActive="active" >User Management</a></li>
        <li><a routerLink="provider-management" routerLinkActive="active" >Provider Management</a></li>
        <li><a routerLink="service-management" routerLinkActive="active" >Service Management</a></li>
        <li><a routerLink="pending-requests" routerLinkActive="active" >Pending Requests</a></li>
        </ul>
      </nav>
    </aside>
  </div>