<!-- <app-navbar></app-navbar> -->
<!-- <app-signup></app-signup> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-cards></app-cards> -->
<!-- <br><br> -->
<!-- <app-footer></app-footer> -->
 <!-- <app-login></app-login> -->

<router-outlet></router-outlet>
<!-- <app-provider-signup></app-provider-signup> -->

<!-- <app-provider-signup></app-provider-signup> -->







<!-- <h1>{{Date | date:'fullDate'|uppercase}}</h1>

<h1>{{amount | currency:'EUR':'code'}}</h1>
<h2>{{pi | number:'5.2-4'}}</h2>
<h2>{{fraction | percent:'2.8-9'}}</h2>

<input [(ngModel)]="name" type="text" placeholder="dd/mm/yy">


<h3 [style]="{color}">{{person1 | json}}</h3> --> 



<!-- <app-child (cap)="bottles($event)"></app-child> 
<p>bottle: {{ bottle }}</p> -->





<!-- 
<h1>App component</h1>

<app-child [name, age]="Pname, Page" ></app-child>
 -->














<!-- <img src={{url}} alt="logo"  [attr.height]="height"> -->

<!-- <div height="200px" width="200px" style={{color}}>box</div> -->









<!-- <input [(ngModel)]="name"  type="text">
<input  [(ngModel)]="price" type="tel" >
<button (click)="addMobile()">Add Mobile</button>


<table style = "border: 1px solid black;" rules="all">
    <tr>    
        <td>Name</td>
        <td>Price</td>

    </tr>
    <tr *ngFor="let mobile of mobiles">
        <td>{{mobile.name}}</td>
        <td>{{mobile.price}}</td>
    </tr>
 -->





